html, body {
  height: 100%;
}

p
{
  color: #392F5A;
}

.header
{
  height: 40px;
  background-color: #FC6005;
}

.main
{
  /*height: 1200px;*/
  background-color: #800000;
}

.footer
{
  clear: both;
  height: 100px;
  background-color: #FC6005;
}

.sidebar
{
  top: 65px;
  left: 0;
  /*height: 100%;*/
  width: 15%;
  background-image:url("mokume.jpg");
  display: inline-block;
  float: left;
  border-radius: 10px;
}

.contents{
  /*height: 1200px;*/
  width: 85%;
  background-color: #E8E5FF;
  float: left;
}


.clear_fix:after{
content: "";
clear: both;
display: block;
}

.header-left
{
  width: 40%;
  height: 100%;
}

.header-right
{
  width: 60%;
  height: 100%;
  font-size: 18px;
}

.header-right ul
{
  margin: 10px;
  padding-right: 30px;
}

.header-right a
{
  color: #FFF8F0;
  margin: 10px;
}


.logo a
{
  color: #FFF8F0;
  font-size: 30px;
}

.category
{
  margin: 15px;
  background-color: #FFF8F0;
  opacity: 0.8;
}

.category img
{
  margin-top: 5px;
  float: left;
  width: 25px;
  height: 25px;
}

ul.category
{
  margin: 5px;
  font-size: 13px;
}

ul.category a
{
  color: #7C7C7C;
}

.f
{
width: 500px;
margin: 0 auto;

}

.f ul
{
  padding-left: 0;
  width: 400px;
  margin: auto;
  text-align: center;
}



li.footer_info
{
  padding: 10px;
  display: inline-block;
}


li.footer_info a
{
  color: #392F5A;
}

.footer_message
{
  text-align: center;
  margin: 0 auto;
}

/*index*/

.container
{
  margin: 10px;
  /*heigth: 1200px;*/
}
.ranking
{
  height: 300px;
  background-color: #9DD9D2;
}

.ranking-product
{
  width: 250px;
  height: 250px;
}

.ranking-product
{
  margin-top: 10px;
  width: 200px;
  height: 220px;
  float: left;
}

.text-rankingtitle
{
  font-size: 14px;
  width: 190px;
  margin: 0 auto;
}

.new-item-view
{
  float: left;
  width: 250px;
  height: 250px;
}

.new-item
{
  background-color: #EEE5E9;
  padding: 30px;
}



/*写真に関して*/
.thumbnail__figure
{
 width: 200px;
 height: 200px;
}

.thumbnail img
{
  margin: 0 auto;
}

.row
{
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.info_box
{
  margin: 0 auto;
}

.r
{
  margin-right: 5px;
  float: left;
}



figure {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
}



figcaption{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  color: #FFF8F0;
}

figure:hover figcaption {
  opacity: 1;
}

.star
{
  width: 150px;
}

.star_index
{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.star img
{
  width: 150px;
  height: 30px;
}

.star_index img
{
  width: 150px;
  height: 30px;
}

/*show*/
.header--section 
{
  background-color: #9DD9D2;
}

.show_thumbnail
{
  width: 40%;
  float: left;
}

.show_thumbnail img
{
  width: 400px;
  height: 400px;
  display: block;
  padding: 4px;
  margin: 20px 20px 20px 80px;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.show_info
{
  width: 60%;
  float: right;
  padding: 50px 50px 50px 0px;
}

.show_info ul
{
  list-style: none;
  float: left;
}

.detail
{
  font-size: 15px;
}



.genre
{
  list-style: none;
  display: inline-block;
}

.tag ul li
{
  width: 20%;
}

.tag button
{
  border-radius: 5px;
  background-color: #EEE5E9;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 50px;
  width: 100px;
}

.total_rate_show
{
  display: inline-block;
  margin-left: 30px;
  left: 0px;
  height: 50px;
  width: 150px;
}

.user_rate_show
{
  display: inline-block;
  margin-left: 30px;
  height: 50px;
  width: 150px;
}

.design_rate_show
{
  display: inline-block;
  margin-left: 30px;
  height: 50px;
  width: 150px;
}




/*search*/

h3.search_product
{
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}


.search_box
{
  display: inline-block;
}

input.search__query
{
  position: relative;
  width: 200px;
  height: 40px;
}

button.btn-search
{
  width: 30px;
  height: 30px;
  margin: 15px;
}

.search_product_view
{
float: left;
}